<div class="list-alternative-vendor-wrapper">
    <h4>Pilihan penjual alternatif</h4>
    <p>Mohon maaf, penjual tidak dapat memenuhi pesanan Anda untuk produk berikut. <br>Silakan pilih penjual lain jika Anda bersedia.</p>

    <div class="the-list">
        <div class="the-product">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                    <img class="media-object" src="http://localhost:3000/build/img/laptop-thumb.png" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <p><b>Apple Macbook Pro 256SSD - SV100021HC (Extended Warranty)</b></p>
                    <span>Estimasi pengiriman <i>3-7 hari</i></span>
                </div>
            </div>
        </div>

        <div class="the-vendor-wrapper">
            <div class="the-vendor pull-left">
                <div class="vendor-name pull-left">
                    <a href=""><div class="name">Savemax</div> <div class="rating"><i class="material-icons star md-18">star_rate</i> 5.0/<span>5.0</span> <i class="material-icons checked">check</i></div></a> <br>
                    <p>Manufacturer, Trading Company <br>Jakarta, Indonesia</p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary" id="vendor1">Pilih penjual</button>
                </div>
            </div>
            <div class="the-vendor pull-left">
                <div class="vendor-name pull-left">
                    <a href=""><div class="name">Savemax</div> <div class="rating"><i class="material-icons star md-18">star_rate</i> 5.0/<span>5.0</span> <i class="material-icons checked">check</i></div></a> <br>
                    <p>Manufacturer, Trading Company <br>Jakarta, Indonesia</p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary">Pilih penjual</button>
                </div>
            </div>
            <div class="the-vendor pull-left">
                <div class="vendor-name pull-left">
                    <a href=""><div class="name">Savemax</div> <div class="rating"><i class="material-icons star md-18">star_rate</i> 5.0/<span>5.0</span> <i class="material-icons checked">check</i></div></a> <br>
                    <p>Manufacturer, Trading Company <br>Jakarta, Indonesia</p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary">Pilih penjual</button>
                </div>
            </div>
            <div class="the-vendor pull-left">
                <div class="vendor-name pull-left">
                    <a href=""><div class="name">Savemax</div> <div class="rating"><i class="material-icons star md-18">star_rate</i> 5.0/<span>5.0</span> <i class="material-icons checked">check</i></div></a> <br>
                    <p>Manufacturer, Trading Company <br>Jakarta, Indonesia</p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary">Pilih penjual</button>
                </div>
            </div>
            <div class="the-vendor pull-left">
                <div class="vendor-name pull-left">
                    <a href=""><div class="name">Savemax</div> <div class="rating"><i class="material-icons star md-18">star_rate</i> 5.0/<span>5.0</span> <i class="material-icons checked">check</i></div></a> <br>
                    <p>Manufacturer, Trading Company <br>Jakarta, Indonesia</p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary">Pilih penjual</button>
                </div>
            </div>
            <div class="the-vendor pull-left">
                <div class="vendor-name pull-left">
                    <a href=""><div class="name">Savemax</div> <div class="rating"><i class="material-icons star md-18">star_rate</i> 5.0/<span>5.0</span> <i class="material-icons checked">check</i></div></a> <br>
                    <p>Manufacturer, Trading Company <br>Jakarta, Indonesia</p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary">Pilih penjual</button>
                </div>
            </div>
            <div class="the-vendor pull-left">
                <div class="vendor-name pull-left">
                    <a href=""><div class="name">Savemax</div> <div class="rating"><i class="material-icons star md-18">star_rate</i> 5.0/<span>5.0</span> <i class="material-icons checked">check</i></div></a> <br>
                    <p>Manufacturer, Trading Company <br>Jakarta, Indonesia</p>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary">Pilih penjual</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#vendor1').on('click', function () {
        $.confirm({
            title: false,
            content: '<center>Apakah Anda yakin ingin memilih <a href="#"><b>Savemax</b></a> sebagai penjual alternatif? <br> <div class="free">Gratis biaya kirim apabila total tagihan Anda lebih dari Rp500.000</div></center>',
            animation: 'scale',
            columnClass: 'medium',
            buttons: {
                no: {
                    text: 'Tidak',
                    btnClass: 'btn-default btn-no',
                    action: function () {
                        $.alert('you clicked on <strong>Tidak</strong>');
                    }
                },
                yes: {
                    text: 'Ya',
                    btnClass: 'btn-default btn-yes',
                    action: function () {
                        $.alert('you clicked on <strong>Yes</strong>');
                    }
                },
            }
        });
    });
    });
</script>
