.breadcrumbs {
    background: $footerGrey;
    border-top:1px solid darken($footerGrey,10%);
    border-bottom:1px solid darken($footerGrey,10%);

    .breadcrumb {
        background: $footerGrey;
        margin:0;

        >li+li:before {
            content:">";
            padding:0 15px;
            color: darken($footerGrey,30%);
        }

        li {

            a {
                color: darken($footerGrey,20%);
                font-size:12px;
            }

            color: $orange;
        }
    }
}
