@import "mixin";

.btn {
    cursor: pointer;
    transition: all ease .3s;
    font-family: $Roboto;
    font-size: 12px;
    font-weight:100;
    padding:5px 14px;
    border:1px solid #fff;
    border-radius:4px;

    i {
        vertical-align:middle;
    }
}

.btn-group {
    border:1px solid #C8C8C8;
    border-radius: 4px;

    .btn:first-of-type {
        border-right:2px solid #C8C8C8;
    }

    &:hover, &:focus, &:active {
        border-color:$orange;

        .btn {
            border-color:$orange;
            border-radius:0px;
        }
    }
}

.btn-default {
    &:hover, &:focus, &:active {
        background: $orange;
        color: #fff;
    }
}

.btn-orange {
    background: $orange;
    color: #FFFFFF;
    border:2px solid $orange;

    @include hover($orange, 5% , #fff);

}

.btn-green {
    background: $green;
    color: #fff;

    @include hover($green, 5% , #fff);
}

.btn-checkout {
    width: 100%;
    font-size:18px;
    margin-bottom:10px;
}

.btn-white {
    background: white;
    color: $grey;
    border-color:$grey;
}

.btn-black {
    background: $black;
    color: #FFFFFF;
    border:1px solid $black;

    @include hover($black, 5% , #fff);
}

.btn-blue {
    background: #2685EF;
    color: #fff;

    @include hover(#2685EF, 5% , #fff);
}

.btn-fluid {
    width:100%;
    height: 30px;
}
