// Input Radio Button
input[type=radio].type-green {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type=radio].type-green ~ label:before {
  display: inline-block;
  content: "";
  background-image: url("../img/form-icon.png");
  background-position: -61px 0.1px;
  background-size: 5.5em;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  line-height: normal;
  vertical-align: sub;
  font-size: 14px;
  margin-right: 16px;
}

input[type=radio].type-green:checked ~ label:before {
  content: "";
  background-image: url("../img/form-icon.png");
  background-position: 0 0;
}
input[type=radio].type-green ~ label {
  cursor: pointer;
}

// Input Checkbox
input[type=checkbox].type-green {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

input[type=checkbox].type-green ~ label:before {
  display: inline-block;
  content: "";
  background-image: url("../img/form-icon.png");
  background-position: -61px -41px;
  background-size: 5.5em;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  line-height: normal;
  vertical-align: sub;
  font-size: 14px;
  margin-right: 8px;
}

input[type=checkbox].type-green:checked ~ label:before  {
  content: "";
  background-image: url("../img/form-icon.png");
  background-position: 0 -41px;
}
input[type=checkbox].type-green ~ label {
  cursor: pointer;
}

// Form
.one-col-main {
  .form-container {
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(147, 147, 147, 0.50);
    margin-bottom: 15px;
  }
}
.form-head {
  h3 {
    font-family: 'Roboto';
    font-weight: bold;
    margin: 25px 0 20px;
    color: #474743;
  }
}
.form-content {
  h4 {
    font-family: 'Roboto';
    font-weight: 500;
    margin: 25px 0 18px;
    color: #535353;
  }
  .radio-inline {
    padding: 0;
    label {
      font-family: 'Roboto';
      font-size: 13px;
      font-weight: 500;
      color: #777777;
      &:before {

      }
    }
  }
}
.form-head {
  h4 {
    font-family: 'Roboto';
    font-weight: 500;
    margin: 25px 0 9px;
    color: #535353;
  }
  p {
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 17px;
    color: #444444;
  }
  .radio-inline {
    padding: 0;
    label {
      font-family: 'Roboto';
      font-size: 13px;
      font-weight: 500;
      color: #777777;
      &:before {

      }
    }
  }
}
.input-group,
.form-group {
  label {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 13px;
    color: #444444;
  }
  button {
    width:85px;
    height: 40px;
  }
}
.required {
  &:before {
    content: "* ";
    color: #F03737;
  }
}
h4 {
  .required {
    font-size: 13px;
    float: right;
    color: #777777;
    margin-top: 12px;
  }
}
.form-control {
  height: 40px;
  border-radius: 4px;
  border-color: #C9C9C9;
}
.browse-file {
  .form-control {
    background-color: #FFFFFF;
  }
  label {
    float: none;
    padding-left: 15px;
    display: table-cell;
    vertical-align: top;
    .btn {
      height: 40px;
      width: 100px;
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 13px;
      color: #ffffff;
      border-radius: 4px;
      span {
        vertical-align: -moz-middle-with-baseline;
        vertical-align: -webkit-baseline-middle;
      }
    }
    @include max-768 {
      width: 33.33333333%;
    }
  }
}