//font variables
$Roboto: 'Roboto';
$Opensans: 'Open Sans';

// color variables
$topHeader : #4C545A;

$black: #494949;

$darkGrey : #767676;
$softGrey: #eee;
$grey: #DADADA;
$grey2: #B9B9B9;
$footerGrey: #F6F6F6;

$orange: #ED6843;
$blue: #0A6EEF;
$green: #51A028;
$gold: #FFA600;

//shadow
$defaultShadow: 0px 0px 4px rgba(179,179,179,0.50);

//mixin
$tablet-width: 995px;
$desktop-width: 992px;
$breakpoint-alpha: 480px; // adjust to your needs

//bootrap
$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;

$screen-xs-max:              ($screen-sm - 1) !default;
$screen-xs-min:              ($screen-xs + 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
