<mjml>
	<mj-head>
		<mj-font name="Roboto" href="https://fonts.googleapis.com/css?family=Roboto" />
	</mj-head>
	<mj-body>
		<mj-container background-color="#ffffff">
			<mj-section background-color="#ffffff" padding-left="10px" padding-right="10px">
			</mj-section>
			<mj-section background-color="#F4F4F4" padding-left="10px" padding-right="10px" padding-top="5px">

				<mj-column width="22%">
					<mj-image src="http://www.bizzy.co.id/media/wysiwyg/email_assets/bizzy_mascot.png" width="94px" padding-bottom="0" padding-top="0" padding-left="0" align="left"/>
				</mj-column>

				<mj-column width="77%">
					<mj-text padding-left="0" padding-top="20px" font-family="Roboto, Helvetica, Arial, sans-serif">
						<p style="margin: 0;font-size:14px;">viplazaid.bizzy.co.id</p>
						<h3 style="margin: 0;color: #327090;font-size:18px;font-weight: 400;">VOUCHER HOTEL</h3>
						<p style="margin: 0;color: #666666;font-size:18px;">Bizzy Booking ID <b>#2016772937</b></p>
					</mj-text>
				</mj-column>

				<mj-column width="100%" border-top="1px solid #C4C4C4" border-left="1px solid #C4C4C4" border-right="1px solid #C4C4C4" background-color="#ffffff">
					<mj-text align="left" font-family="Roboto, Helvetica, Arial, sans-serif">
						<h3 style="font-size: 18px;color: #ED6843;margin:15px 0 24px;font-weight: 400;">Voucher Hotel Anda Telah Siap</h3>
						<p style="color: #666666;margin: 0 0 7px;font-size:14px;">Bapak/Ibu Anton,</p>
						<p style="color: #666666;margin: 0;font-size:14px;">Pesanan hotel Anda sudah siap untuk digunakan. <b style="color:#000000;">Voucher</b> dan <b style="color:#000000;">Receipt</b> terdapat pada lampiran</p>
					</mj-text>
					<mj-divider border-color="#C4C4C4" border-width="1px"></mj-divider>
				</mj-column>
				<mj-column width="100%" border-left="1px solid #C4C4C4" border-right="1px solid #C4C4C4" background-color="#ffffff">
					<mj-text align="left" font-family="Roboto, Helvetica, Arial, sans-serif">
						<h4 style="font-size: 18px;color: #327090;margin:0;">DETAIL BOOKING</h4>
						<p style="color: #434343;margin: 0;font-size:14px;">Tanggal Pemesanan: 10/08/2015, 13.00</p>
						
						<h5 style="color: #A8A8A8;margin: 10px 0 5px;font-size:14px;font-weight:500;">HOTEL</h5>
						<p style="font-size:14px;margin:0;"><b>Ibis Gading Serpong</b></p>
						<p style="color: #666666;margin: 0;font-size:14px;">Jl. Boulevard Gading Serpong Blok M5 No 19, Tanggerang, Indonesia, 15810</p>
						<p style="color: #666666;margin: 0;font-size:14px;">Phone : 62-21-30056688 , +622130056688</p>

						<h5 style="color: #A8A8A8;margin: 10px 0 5px;font-size:14px;font-weight:500;">Nama Pemesan</h5>
						<p style="font-size:14px;margin:0;"><b>Siti Djubaedah</b></p>

						<div style="text-align:left;">
							<h5 style="color: #A8A8A8;margin: 10px 0 5px;font-size:14px;font-weight:500;">Penginapan</h5>
							<ul style="list-style:none;margin:0;padding:0;">
								<li style="display:inline-block;width:123px;padding-right:20px;text-align:left;margin-bottom: 20px;">
									<p style="font-size:14px;margin:0;"><b>Check In</b></b></p>
									<p style="color: #666666;margin: 0;font-size:14px;">29 Nov 2016</p>
								</li>
								<li style="display:inline-block;width:126px;padding-right:20px;text-align:left;margin-bottom: 20px;">
									<p style="font-size:14px;margin:0;"><b>Check In</b></b></p>
									<p style="color: #666666;margin: 0;font-size:14px;">30 Nov 2016</p>
								</li>
								<li style="display:inline-block;width:232px;text-align:left;margin-bottom: 20px;">
									<p style="font-size:14px;margin:0;"><b>Tipe Kamar</b></b></p>
									<p style="color: #666666;margin: 0;font-size:14px;">Standart Room, 1 Double Bed</p>
								</li>
							</ul>
							<ul style="list-style:none;margin:0;padding:0;">
								<li style="display:inline-block;width:123px;padding-right:20px;text-align:left;margin-bottom: 20px;">
									<p style="font-size:14px;margin:0;"><b>Jumlah Kamar</b></b></p>
									<p style="color: #666666;margin: 0;font-size:14px;">2</p>
								</li>
								<li style="display:inline-block;width:126px;padding-right:20px;text-align:left;margin-bottom: 20px;">
									<p style="font-size:14px;margin:0;"><b>Breakfast</b></b></p>
									<p style="color: #666666;margin: 0;font-size:14px;">Tidak Termasuk</p>
								</li>
								<li style="display:inline-block;width:232px;text-align:left;margin-bottom:20px;">
									<p style="font-size:14px;margin:0;"><b>Fasilitas</b></b></p>
									<p style="color: #666666;margin: 0;font-size:14px;">Tidak Termasuk</p>
								</li>
							</ul>
						<div>
					</mj-text>
					<mj-divider border-color="#C4C4C4" border-width="1px" padding-top="0"></mj-divider>
				</mj-column>
				<mj-column width="100%" border-bottom="1px solid #C4C4C4" border-left="1px solid #C4C4C4" border-right="1px solid #C4C4C4" background-color="#ffffff">
					<mj-text align="left" font-family="Roboto, Helvetica, Arial, sans-serif">
						<h4 style="font-size: 18px;color: #327090;margin:0;">DETAIL AKOMODASI</h4>
					</mj-text>
					<mj-table>
						<tr style="border:1px solid #D3D3D3;text-align:left;padding:15px 0;">
							<th style="padding: 8px 25px;background-color:#F1F1F1;color:#4E4E4E;font-size:14px;" colspan="2">Kamar 1 dari 2</th>
						</tr>
						<tr style="border-left:1px solid #D3D3D3;border-right:1px solid #D3D3D3;">
							<td style="padding: 14px 0 14px 25px;width:26%;min-width: 102px;vertical-align:top;color:#4E4E4E;font-size:14px;">Nama Tamu</td>
							<td style="padding: 14px 25px 14px 0;vertical-align:top;"><h4 style="margin:0;color:#4B4B4B;color:#4E4E4E;font-size:14px;"><b>Mohamad Ariau Akbar</b></h4></td>
						</tr>
						<tr style="border-left:1px solid #D3D3D3;border-right:1px solid #D3D3D3;border-bottom:1px solid #D3D3D3;font-size:14px;">
							<td style="padding: 14px 0 14px 25px;width:26%;min-width: 102px;vertical-align:top;color:#4E4E4E;font-size:14px;">Deskripsi Kamar</td>
							<td style="padding: 14px 25px 14px 0;vertical-align:top;">
								<h4 style="margin:0;color:#4B4B4B;color:#4E4E4E;font-size:14px;"><b>Deluxe Non-Smoking: King Bed</b></h4>
								<p style="margin:0;color:#4E4E4E;font-size:14px;">388sq ft/ 36 sq m, Free High-speed Internet, Voicemail, Separate Shower/bath, Smoke Free</p>
							</td>
						</tr>
					</mj-table>
					<mj-table>
						<tr style="border:1px solid #D3D3D3;text-align:left;padding:15px 0;">
							<th style="padding: 8px 25px;background-color:#F1F1F1;color:#4E4E4E;font-size:14px;" colspan="2">Kamar 2 dari 2</th>
						</tr>
						<tr style="border-left:1px solid #D3D3D3;border-right:1px solid #D3D3D3;">
							<td style="padding: 14px 0 14px 25px;width:26%;min-width: 102px;vertical-align:top;color:#4E4E4E;font-size:14px;">Nama Tamu</td>
							<td style="padding: 14px 25px 14px 0;vertical-align:top;"><h4 style="margin:0;color:#4B4B4B;color:#4E4E4E;font-size:14px;"><b>Pete Goldsworthy</b></h4></td>
						</tr>
						<tr style="border-left:1px solid #D3D3D3;border-right:1px solid #D3D3D3;border-bottom:1px solid #D3D3D3;font-size:14px;">
							<td style="padding: 14px 0 14px 25px;width:26%;min-width: 102px;vertical-align:top;color:#4E4E4E;font-size:14px;">Deskripsi Kamar</td>
							<td style="padding: 14px 25px 14px 0;vertical-align:top;">
								<h4 style="margin:0;color:#4B4B4B;color:#4E4E4E;font-size:14px;"><b>Deluxe Non-Smoking: King Bed</b></h4>
								<p style="margin:0;color:#4E4E4E;font-size:14px;">388sq ft/ 36 sq m, Free High-speed Internet, Voicemail, Separate Shower/bath, Smoke Free</p>
							</td>
						</tr>
					</mj-table>
					<mj-text>
						<p style="color: #666666;margin: 5px 0 0;font-size:13px;">Jika ada pertanyaan, email ke <a href="mailto:support@bizzy.co.id" style="text-decoration:underline;color:#666666;cursor:pointer;">support@bizzy.co.id</a> atau hubungi kami di <b>082188008788</b></p>
					</mj-text>
					<mj-divider border-color="#C4C4C4" border-width="1px"></mj-divider>
				</mj-column>

				<mj-column width="100%">
					<mj-image src="https://www.bizzy.co.id/skin/frontend/enterprise/default/images/bizzy-logo.png" width="180px" padding-top="30px" padding-bottom="10px"/>
					<mj-text align="center" font-family="Roboto, Helvetica, Arial, sans-serif">
						<p style="margin:0;color:#696969;"><b>PT. Bizzy Commerce Indonesia</b></p>
						<p style="margin:0;color:#888888;">Jl. Riau No. 1 Menteng Jakarta Pusat 10350 Telp: 082188008788</p>
					</mj-text>
				</mj-column>

			</mj-section>
			<mj-section background-color="#ffffff" padding-left="10px" padding-right="10px">
			</mj-section>
		</mj-container>
	</mj-body>
</mjml>