<mjml>
  <mj-head>
    <mj-font name="Roboto" href="https://fonts.googleapis.com/css?family=Roboto" />
  </mj-head>
  <mj-body>
    <mj-container background-color="#ffffff">
      <mj-section background-color="#ffffff" padding-left="10px" padding-right="10px">
        <mj-column>
          <mj-image src="https://www.bizzy.co.id/skin/frontend/enterprise/default/images/bizzy-logo.png" width="180px" padding-top="30px" padding-bottom="10px" />
        </mj-column>
      </mj-section>
      <mj-section background-color="#f6f6f6" padding-left="10px" padding-right="10px" padding-top="5px" padding-bottom="0">

        <!-- introduction -->
        <mj-column width="100%">
          <mj-text padding-left="0" padding-top="10px" font-family="Roboto, Helvetica, Arial, sans-serif">
            <h2 style="font-size:18px; color:#327090;margin-top:5px;margin-bottom:5px">PAYMENT ACCEPTED #1234567</h2>
            <p style="margin-bottom:0px; margin-top:0;pading:0;color:#666">Placed on Jan 16, 2017, 2:16:04 PM</p>
          </mj-text>
        </mj-column>
        <!-- order -->
        <mj-column width="100%" background-color="#ffffff">
          <mj-text align="left" padding-top="20px" color="#ED6843" font-size="25" font-family="Roboto, Helvetica, Arial, sans-serif" line-height="1em">Pembayaran Telah Diterima, Transaksi Berhasil</mj-text>
        </mj-column>
      </mj-section>
      <mj-section background-color="#f6f6f6" padding-left="10px" padding-right="10px" padding-top="0px" padding-bottom="0">
        <mj-section background-color="#fff" padding-bottom="0" padding-top="0">
          <mj-column width="28%" background-color="#ffffff">
            <mj-image src="http://www.bizzy.co.id/media/wysiwyg/email_assets/box_order.png" width="100" />
          </mj-column>
          <mj-column width="72%" background-color="#ffffff">
            <mj-text align="left" font-size="13px" color="#666" line-height="1.3em" font-weight="normal" padding-top="0">
              <p style="margin-bottom:2px;margin-top:0">Bapak/Ibu Fahmi Ardi,</p>
              <p>Kami telah menerima pembayaran Anda. Saat ini pesanan Anda sedang kami proses untuk selanjutnya dikirim ke alamat tujuan. Informasi mengenai pengiriman akan dikirim melalui email terpisah.</p>
              <p>Terima kasih telah mempercayai Bizzy sebagai solusi online kebutuhan bisnis Anda.</p>
            </mj-text>
          </mj-column>
        </mj-section>
      </mj-section>
      <mj-section background-color="#f6f6f6" padding-left="10px" padding-right="10px" padding-top="0px" padding-bottom="0">
        <mj-section background-color="#fff" padding-bottom="0" padding-top="0">
          <!-- transaction info -->
          <mj-column width="100%" border-top="1px solid #f6f6f6" background-color="#ffffff">
            <mj-text font-family="Roboto, Helvetica, Arial, sans-serif" padding="20px 20px 0 20px" line-height="1.5em">
              <h4 style="font-size: 18px;color: #327090;margin:0;">Informasi Transaksi</h4>
            </mj-text>
            <mj-table>
              <tr>
                <td style="font-family:Roboto, Helvetica, Arial, sans-serif">
                  <span style="color:#666">Payment Method</span><br/>
                  Bank Transfer
                </td>
                <td>
                  <span style="color:#666">Payment Date</span><br/>
                  Jan 21, 2017 11:15
                </td>
              </tr>
              <tr>
                <td style="font-family:Roboto, Helvetica, Arial, sans-serif">
                  <span style="color:#666">Transaction Total</span><br/>
                  Rp10,000,000
                </td>
                <td>
                  <span style="color:#666">Status</span><br/>
                  <span style="color:#5A7739;font-weight:bold;">LUNAS</span>
                </td>
              </tr>
            </mj-table>
          </mj-column>
        </mj-section>
      </mj-section>
      <!-- billing info -->
      <mj-section background-color="#f6f6f6" padding-left="10px" padding-right="10px" padding-top="0px" padding-bottom="0">
        <mj-section background-color="#fff" padding-bottom="0" padding-top="0">
          <mj-column width="50%" border-top="1px solid #f6f6f6" background-color="#ffffff">
            <mj-text font-family="Roboto, Helvetica, Arial, sans-serif" padding="20px 20px 0 20px" line-height="1.5em">
              <h4 style="font-size: 18px;color: #327090;margin:0;">Billing Info</h4>

              <p font-size="14px" style="color:#666">Bayu Wibowo <br/> EIGHTED
                <br/> Jl Peralatan blok H 101 Komplek Kodam Jatiwaringin<br/> Jl Peralatan blok H 101 Komplek Kodam Jatiwaringin<br/> East Jakarta, DKI, 13620<br/> Indonesia
                <br/> T: 081296845528</p>
            </mj-text>
          </mj-column>
          <mj-column width="50%" border-top="1px solid #f6f6f6" background-color="#ffffff">
            <mj-text font-family="Roboto, Helvetica, Arial, sans-serif" padding="20px 20px 0 20px" line-height="1.5em">
              <h4 style="font-size: 18px;color: #327090;margin:0;">Billing Info</h4>

              <p font-size="14px" style="color:#666">Bayu Wibowo <br/> EIGHTED
                <br/> Jl Peralatan blok H 101 Komplek Kodam Jatiwaringin<br/> Jl Peralatan blok H 101 Komplek Kodam Jatiwaringin<br/> East Jakarta, DKI, 13620<br/> Indonesia
                <br/> T: 081296845528</p>
            </mj-text>
          </mj-column>
        </mj-section>



      </mj-section>
      <mj-section background-color="#f6f6f6" padding="0 10px">
        <!-- invoice-->
        <mj-column width="100%" border-top="1px solid #f6f6f6" background-color="#ffffff">
          <mj-text font-family="Roboto, Helvetica, Arial, sans-serif" padding="20px 0 0px 20px">
            <h4 style="font-size: 18px;color: #327090;margin:0;">Order Detail</h4>
          </mj-text>
          <mj-table padding="10px 20px">
            <tr>
              <th colspan="4" align="left" style="padding: 5px;color:#666;background:#f6f6f6">
                Dikirim oleh Bizzy
              </th>
            </tr>
            <tr style="text-align:left;padding:15px 0;border-bottom:1px solid #f6f6f6">
              <th style="padding: 5px;color:#666">Image</th>
              <th style="padding: 5px;color:#666">Items</th>
              <th style="padding: 5px;color:#666">Qty</th>
              <th style="padding: 5px 10px 5px 0;color:#666" align="right">Price</th>
            </tr>
            <tr>
              <td>
                <img width="70" src="http://www.online-image-editor.com//styles/2014/images/example_image.png" />
              </td>
              <td style="padding: 5px;color:#666">
                <b>JBL Clip+ Splashproof Bluetooth Speaker - Orange
</b> <br/> SKU: MP01-33-Black <br/>
                <b>Color: </b> Black <br/>
                <b>Size: </b> 33 <br/>
                <b>Penjual:</b> Mega <br/>
              </td>
              <td style="padding: 5px;color:#666">3M</td>
              <td style="padding: 5px 10px 5px 0" align="right">Rp 20.000</td>
            </tr>

          </mj-table>
          <mj-table padding="10px 20px">
            <tr>
              <th colspan="4" align="left" style="padding: 5px;color:#666;background:#f6f6f6">
                Dikirim oleh Bizzy
              </th>
            </tr>
            <tr style="text-align:left;padding:15px 0;border-bottom:1px solid #f6f6f6">
              <th style="padding: 5px;color:#666">Image</th>
              <th style="padding: 5px;color:#666">Items</th>
              <th style="padding: 5px;color:#666">Qty</th>
              <th style="padding: 5px 10px 5px 0;color:#666" align="right">Price</th>
            </tr>
            <tr>
              <td>
                <img width="70" src="http://www.online-image-editor.com//styles/2014/images/example_image.png" />
              </td>
              <td style="padding: 5px;color:#666">
                <b>JBL Clip+ Splashproof Bluetooth Speaker - Orange
</b> <br/> SKU: MP01-33-Black <br/>
                <b>Color: </b> Black <br/>
                <b>Size: </b> 33 <br/>
                <b>Penjual:</b> Mega <br/>
              </td>
              <td style="padding: 5px;color:#666">3M</td>
              <td style="padding: 5px 10px 5px 0" align="right">Rp 20.000</td>
            </tr>
            <tr>
              <td style="border-top:1px solid #f6f6f6;padding: 5px;background:#fff;color:#666" colspan="2" align="right">
                Subtotal:<br/> Ongkos kirim:<br/> Voucher:
                <br/>
                <b>Total:</b>
              </td>
              <td style="border-top:1px solid #f6f6f6;padding: 5px 10px 5px 0;background:#fff;" colspan="2" align="right">
                Rp 40.000<br/> Rp 40.000<br/> Rp 40.000<br/>
                <span style="color:#ED6843;font-weight:bold;font-size:15px ">Rp 40.000</span><br/>
              </td>
            </tr>
          </mj-table>
        </mj-column>
        <mj-column width="100%" background-color="#fff" border-top="1px solid #eee">
          <mj-text color="#666">
            Jika ada pertanyaan, email ke <a href="mailto:support@bizzy.co.id">support@bizzy.co.id</a> atau hubungi kami di <a href="tel:+622129784578">021-29784578</a>

          </mj-text>
        </mj-column>


        <mj-column width="100%">
          <mj-text align="center" font-family="Roboto, Helvetica, Arial, sans-serif">
            <p style="margin:0;color:#696969;"><b>PT. Bizzy Commerce Indonesia</b></p>
            <p style="margin:0;color:#888888;">Jl. Riau No. 1 Menteng Jakarta Pusat 10350 Telp: 082188008788</p>
          </mj-text>
        </mj-column>
      </mj-section>
      <mj-section background-color="#ffffff" padding-left="10px" padding-right="10px">
      </mj-section>
    </mj-container>
  </mj-body>
</mjml>
