header {
    .top-header {
        height: auto;

        .contacts {

            ul.listing {
                margin-bottom:0;
            }
            ul.listing, ul.listing.account {
                float: none;
                text-align:center;
            }
            ul.listing.account {
                margin-bottom:10px;
            }
        }
    }

    .bottom-header {
        .col-first {
            width: calc(48.3% - 15px);
        }

        .col-last {
            // width: calc(51.2% + 15px;);
            // padding-right:15px;
        }

        .col-middle {
            width: 100%;
            float: right;
            margin:0;
            margin-top:20px;
            padding:0 15px;
        }
    }
}
