@import '../components/_vars';

.mobile-hidden {
    display: none;
}

header {

    .bottom-header {
        .col-first {
            width: 42%;
            vertical-align:middle;

            img {
                width:100%;
            }
        }

        .col-last {
            width: 56%;
        }
        .col-middle {
            width: 100%;
            float: right;
            margin:0;
            margin-top:10px;
        }

        .btn-orange {
            width: auto;
            margin-right:15px;
        }

        .search {
            padding-right:15px;
            width: calc(100% - 69px);
            float: left;

            .input-group {
                z-index: 0;
            }
        }

        .btn-navbar {
            margin-left:15px;
            background: none;
            border: 2px solid $orange;
            padding:5px 8px;
            color: $orange;
            float: left;
            margin-right:10px;

            i {
                line-height:0;
                vertical-align:middle;
            }
        }
    }

    nav {
        margin-left:0;
    }

    .cd-dropdown-trigger {
        line-height:20px;
        &:before, &:after {
            display: none;
        }
    }
}

footer {
    .list-services {
        li {
            width:100%;
            border:none;
            padding:15px 20px;
            border-bottom:1px solid $softGrey;

            &:last-child {
                border:none;
            }
        }
    }
    .list-sitemap {
        > li {
            width:50%; margin-right:-4px;
        }
    }

    .cards.logo {
        padding:0;
    }
}
