@import '../components/_vars';

.mobile-hidden {
    display: none;
}

header {
    .top-header {
        height: auto;

        .contacts {

            ul.listing {
                margin-bottom:0;
            }
            ul.listing, ul.listing.account {
                float: none;
                text-align:center;
            }
            ul.listing.account {
                margin-bottom:10px;
            }
        }
    }

    .bottom-header {
        .col-first {
            width: 48.3%;
        }

        .col-last {
            width: 51.2%;
        }
        .col-middle {
            width: 100%;
            float: right;
            margin:0;
            margin-top:20px;
        }

        .btn-orange {
            width: auto;
        }

        .search {
            // padding-right:15px;
            width: calc(100% - 55px);
            float: left;
        }

        .btn-navbar {
            // margin-left:15px;
            background: none;
            border: 2px solid $orange;
            padding:5px 8px;
            color: $orange;
            float: left;
            margin-right:10px;

            i {
                line-height:0;
                vertical-align:middle;
            }
        }
    }

    .cd-dropdown-trigger {
        line-height:20px;
        &:before, &:after {
            display: none;
        }
    }
}

footer {
        .list-services {
            li {
                width:calc(100%/2);
                border:none;
                padding:15px 20px;
                margin-right:-4px;
                border-right:1px solid $softGrey;
                border-bottom:1px solid $softGrey;


                &:nth-child(2), &:nth-child(4) {
                    border-right:none;
                }

                &:last-child {
                    width:100%;
                }
            }
        }
        .list-sitemap {
            > li {
                width:50%; margin-right:-4px;
            }
        }

        .cards.logo {
            padding:0;
        }
    }
