.mobile-only {
    display: none;
}

header {
    .top-header {
        height: auto;

        .contacts {

            ul.listing {
                margin-bottom:0;
            }
            ul.listing, ul.listing.account {
                float: none;
                text-align:center;
            }
            ul.listing.account {
                margin-bottom:10px;
            }
        }
    }

    .bottom-header {
        .col-first {
            width: 48.3%;
        }

        .col-last {
            width: 51.2%;
        }
        .col-middle {
            width: 100%;
            float: right;
            margin:0;
            margin-top:20px;
        }
    }
}

footer {
    .list-services {
        li {
            width:calc(100%/5);
            border:none;
            padding:15px 20px;
            margin-right:-4px;
            border-right:1px solid $softGrey;

            &:last-child {
                border:none;
            }
        }
    }
    .list-sitemap {
        > li {
            width:25%; margin-right:-4px;
        }
    }

    .cards.logo {
        padding:0;
    }
}
