@import 'components/vars';

footer {
    box-shadow:4px 0px 0px #C9C9C9;
    background: white;
    margin-top:20px;
    position:relative;

    &:before {
        content: "";
        height: 20px;
        position: absolute;
        top: -20px;
        left: 0;
        width: 100%;
        box-shadow: inset 0px 1px 6px $grey;
        background: $footerGrey;
    }

    .footer-wrapper {
        border-top:1px solid $softGrey;
        border-bottom:1px solid $softGrey;

        &.newsletter {
            background: $footerGrey;
        }
    }

    .list-services {
        width:100%;
        margin:0;
        li {
            width: calc(98.9% / 5);
            text-align:center;
            border-right:1px solid $softGrey;
            padding:35px 15px 30px 15px;
            color: $darkGrey;
            // white-space: nowrap;

            &:last-child {
                border-right:none;
            }

            p {
                margin:0;
            }

            b {
                color: $black;
            }

            img {
                margin:15px 0;
            }
        }
    }

    .newsletter {
        padding:10px;

        i {
            vertical-align:middle;
        }

        p {
            margin:0;
            vertical-align:middle;
            line-height:35px;
        }

        .btn , .form-control {
            height: 35px;
        }

        .btn {
            border:2px solid $orange;
            width:140px;
        }

        .form-control {
            border-color:$softGrey;
            font-size:12px;
        }
    }

    .cards {
        padding:5px 0;

        &.logo {
            text-align:center;
        }
    }

    .list-sitemap {
        margin-bottom:0;
        > li {
            border-right:1px solid $softGrey;
            width:calc(98%/5);
            padding: 25px 0;
            float:left;
            min-height: 220px;

            &:last-child {
                border:none;
            }

            > ul {
                width:140px;
                margin:0 auto;

                > li {
                    font-size:12px;
                    color: $darkGrey;

                    &:first-child {
                        font-weight:bold;
                        margin-bottom:20px;
                        color: $black;
                    }

                    a {
                        color: $darkGrey;
                        text-decoration:none;
                        cursor:pointer;

                        &:hover {
                            color: $orange;
                        }
                    }
                }
            }

            &.list-free-delivery {
                background:url('../img/footer-paper-plane.png') no-repeat center bottom;
            }
        }
    }
}
