@import 'components/_all';

// Icon Sizing
.material-icons {
    &.md-18 { font-size: 18px; }
    &.md-24 { font-size: 24px; }
    &.md-36 { font-size: 36px; }
    &.md-48 { font-size: 48px; }
    &.star {
        width: 23px;
        overflow: hidden;
    }
}

body {
    font-family:$Roboto;
    font-weight:100;
    margin:0;
    font-size:14px;
    color: $black;
    background: $footerGrey;

}

a {
    color: $blue;
}
h1 {
    font-size:28px;
}
h2 {
    font-size:26px;
}
h3 {
    font-size:24px;
    margin-top:30px;
}

@import 'header';
@import 'footer';
@import 'product-detail';
@import 'order-tracking';

// overriding bootstrap style
.page-header {
    padding:0;
    margin:0;
    border:none;
    background: white;
}

.input-group {
    z-index: 0;
}

//Padding
.no-padding {padding: 0 !important;}
.no-padding-left {padding-left: 0 !important;}
.no-padding-right {padding-right: 0 !important;}

// Margin
.no-margin {margin: 0 !important;}
.no-margin-left {margin-left: 0 !important;}
.no-margin-right {margin-right: 0 !important;}

// Align
.align-left {text-align: left;}
.align-center {text-align: center;}
.align-right {text-align: right;}

.counter {
    .btn-group {
        border-radius: 4px;
        height: 30px;

        .btn:first-of-type {
            border-width:1px;
        }

        .btn:last-child {
            border-left:1px solid #C8C8C8;
        }

        .btn {
            height:28px;
            color: $blue;
            outline-color: $blue;
            padding:0;
            width:25px;

            &:hover {
                color: white;
                border-color:transparent;
            }
        }
        .input-number {
            width:30px;
            height:28px;
            float:left;
            text-align:center;
            border:none;
            box-shadow:none;
            font-size:12px;
        }
    }
}

.gold {
    color: $gold;
}

.divider {
    background:$footerGrey;
    width:100%;
    height:20px;
    clear:both;
    box-shadow:inset 0px 0px 4px $grey;
}

.dl-default{
    dt {
        text-align: left;

        @include max-768 {
            width: 170px;
            clear: left;
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    dd {
        @include max-768 {
            margin-left:170px;
        }
    }
}

.overlay {
    background: rgba(0,0,0,0.6);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    top: 0;
    display:none;

    &.active {
        display:block;
    }
}

#order-box.actived {
    z-index:3;
    position:relative;
}

nav.cart-wrapper {
    position: absolute;
    right: -29em;
    top:132px;
    box-sizing: border-box;
    z-index: 3;
    height: 100%;
    background:white;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    box-shadow: $defaultShadow;

    &.active { right: 0; }
}

.order-wrapper {
    width: 28em;
    text-align:left;
    padding:30px 20px;

    h5 {
        font-family: $Roboto;
        font-size: 16px;
        color: $black;
        margin-top:0px;
        margin-bottom:30px;

        span {
            color: $blue;
        }
    }

    ul {

        li {
            float:left;
            width:100%;
            margin-bottom:20px;
        }
    }

    .thumb, .product {
        float:left;
    }

    .counter {
        float:right;

        .delete {
            float:right;
        }
    }

    .thumb {
        margin-right:10px;
    }

    .product {
        margin-right:10px;
        max-width:165px;

        div {
            float:left;
        }
        .name {
            font-size:14px;
            color: $blue;
        }
        .total {
            color: #8B8B8B;
            font-size:12px;
        }
    }

    .delete {
        i {
            vertical-align:-webkit-baseline-middle;
            color: #F00;
            font-weight:bold;
        }
    }

    .divider {
        width:100%;
        clear: both;
        height:1px;
        background: $softGrey;
        margin:20px 0;
    }

    .previous-order {
        td {
            border:none;
        }

        i {
            vertical-align:middle;
        }

        a {
            color: $blue;
        }
    }

    .total{
        float:left;
        width:100%;
    }
}

.bottom-header , .top-header, header{
    transition:all ease .3s;
}

.sticky {
  header {
    z-index:3 !important;
    margin-top:-38px;
    }
  .top-header {opacity:0;}
  .bottom-header {

    padding:5px 0;
    box-shadow:0px 2px 5px rgba(0,0,0,.4);
    z-index:9;
    width:100%;

    .cd-dropdown {

    }
  }
}
