@import "components/vars";

//extends
%listingHeader {
    li {
        margin-top: 9px;
        padding-right: 26px;

        a {
            color: #fff;

            i {
                vertical-align: middle;
                margin-right: 5px;
            }
        }
    }
}

// the styles
header {
    position: relative;
    z-index:2;
    .container {
        max-width: 1250px;
    }
    .top-header {
        background: $topHeader;
        font-family: $Roboto;
        font-size: 11px;
        color: #FFFFFF;
        height: 38px;

        .contacts {
            ul.listing {
                @extend %listingHeader;
                float: left;

                &.account {
                    float: right;

                    li {
                        position: relative;
                        padding:0 20px;

                        &:before {
                                content: "";
                                border-right: 1px solid #979797;
                                right: 0;
                                position: absolute;
                                top: 4px;
                                width: 1px;
                                height: 10px;
                                opacity: .5;
                        }

                        &:last-child {
                            padding-right:0;

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }//top header
    .bottom-header {
        background: white;
        padding: 25px 0;

        .col-first, .col-middle , .col-last {
            display: inline-block;
            box-sizing:border-box;
        }

        .col-first{
            width: 300px;
            padding-left:15px;
        }

        .col-middle {
            // min-width:500px;
            width: calc(100% - 740px);
            margin:0 20px;
        }

        .col-last {
            width: 385px;
            text-align:right;
            position:relative;

            .tooltip {
                right: 0;
            }
        }

        .logo {
            display:inline-block;
        }

        .search {
            display:inline-block;
            width: 100%;
            vertical-align: middle;
            height: 33px;

            .form-control, .btn {
                border:2px solid $orange;
                height: 33px;
            }

            .form-control {
                font-weight:100;
            }

            .btn {
                background: $orange;
                color: #fff;
                height:33px;
                padding:6px 14px;
            }
        }

        .btn-group, .btn-orange {
            // margin-top:4px;
        }

        .btn-group {
            margin-right:10px;
        }

        .btn-orange {
            width: 180px;
        }

        .identity {
            i, .details {
                float: left;
            }

            i {
                color: $orange;
            }

            .details {
                .username, .company {
                    font-family: $Roboto;
                    font-weight:bold;
                    font-size: 16px;
                    color: $orange;
                    text-align:left;
                    float:left;
                }
                .username {
                    // margin-bottom:6px;
                }
                .company {
                    font-size:10px;
                    font-weight:100;
                }
            }
        }

        .login {
            position:absolute;
            top:35px;
            left:0;
            width:100%;
            z-index: 1;
            background: white;
            padding:20px;
            box-shadow: $defaultShadow;
            text-align:center;
            visibility:hidden;

            .form-group {
                margin-bottom:10px;
            }

            .btn {
                transition:none;
            }

            .checkbox {
                text-align:left;
            }

            a.forgot {
                margin-top:10px;
                display:inline-block;
            }
        }

        .login-active {
            border-color:$orange;

            #login-toggle {
                background: $orange;
                color: #fff;
            }

            .btn {
                border-color:$orange;
            }
        }
    }
    .one-col-header {
        .logo {
            text-align: center;
            padding: 59px 0;
        }
    }
}

//nav
.main-menu {
    display:inline-block;
    margin-left:5%;
    vertical-align:middle;
}
