@import 'components/_vars.scss';

@media (max-width: 970px) {

}

@media (max-width: $screen-xs) {
    @import 'media/_smaller-mobile';
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    @import 'media/_smaller-mobile-landscape';
}

@media (min-width: $screen-xs) and (max-width: $screen-xs-max) {
    @import 'media/_mobile';
}

//container 750px
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    @import 'media/_tablet';
}
@media (min-width: $screen-md) {

    .mobile-only {
        display: none;
    }

    .container {
        width: 100%;
        max-width:1280px;
    }

    footer {
        .list-services {
            li {
                width:calc(100%/5);
                border:none;
                padding:15px 20px;
                margin-right:-4px;
                border-right:1px solid $softGrey;

                &:last-child {
                    border:none;
                }
            }
        }
    }

}

@media (min-width: $screen-lg) {

    .mobile-only {
        display: none;
    }

    .container {
        width: 100%;
        max-width:1280px;
    }
}
