@import 'components/vars';
@import 'components/mixin';

.bg-white{
    background: white;
    box-shadow: 0 0 4px 0 rgba(201, 201, 201, 0.5);
    padding:30px 20px;
}

.btn-white {
    background: white;
    color: #2C79FE;
    border:1px solid #E4E4E4;

    @include hover($orange, 5% , #fff);

}

.account {

    .bg-white + .bg-white {
        margin-top:15px;
    }

    .btn {
        + .btn {
            margin-left:5px;
        }
    }

    .grey {
        color: $grey2;
    }
    .dark-grey {
        color: $darkGrey;
    }
    .red {
        color: #EB1F1F;
    }
    .green {
        color: #29BA42;
    }

    .list-order-info {
        li {
            width: calc(100%/3);
            float: left;
            margin-bottom:10px;
        }
    }

    .tracking-status {
        .tracker-progress {
            border-left:1px dashed #DBDDDC;

            > li {
                position: relative;
                padding-left:20px;
                margin-top:20px;

                &:before {
                    content:"";
                    width: 14px;
                    height:14px;
                    border-radius:15px;
                    background: #45C25B;
                    position:absolute;
                    left:-7px;
                    top:2px;
                    z-index: 2;
                }

                &.active {
                   &:after {
                        content:"";
                        width: 22px;
                        height:22px;
                        border-radius:15px;
                        background: #fff;
                        position:absolute;
                        left:-11px;
                        top:-2px;
                        z-index:1;
                        border:2px solid #45C25B;
                    }
                }

                &.deactive {
                    color: #D2D2D2;

                    &:before {
                        background: $grey;
                    }
                }

                .the-vendor {
                    padding:6px 10px;
                    background: #F1F1F1;

                    .grey {
                        color: #979797;
                    }

                    .red , .green {
                        font-weight:400;
                    }

                    a {
                        font-weight:500;
                        color: #2C79FF;
                    }

                    + .the-vendor {
                        margin-top:7px;
                    }

                    > ul {
                        list-style-type : disc;
                        color: #979797;
                        padding-left: 15px;
                        margin-top:10px;

                        li {
                            margin:7px;
                            padding-left:10px;
                        }
                    }
                }
            }
        }
    }

    .table-myorder {
        thead {
            tr:first-child {
                background: #f7f7f7;
            }

            tr th {
                border-color:#E8E8E8;
            }
        }
        tbody {
            tr {
                td {
                    border-color:#E8E8E8;

                    p {margin-bottom:5px;}

                    span {
                        color: $grey2;

                        i {color: #2C79FF}
                    }

                    &:not(:first-child) {
                        text-align:center;
                    }
                }
            }
        }
    }

    .table-order-total {
        tbody tr {
            td {
                border-color:#E8E8E8;
                padding:10px 20px;

                &:first-child{border-right-color:white;}
                &:last-child {
                    text-align:right;
                }
            }

            &.discount {
                td:last-child {color: $green;}
            }

            &:last-child {
                background: #FFFEE2;
                font-weight:500;
                font-size:16px;
            }
        }
    }
}
