@import 'components/vars';
@import 'components/mixin';

.bg-white{
    background: white;
    box-shadow: 0 0 4px 0 rgba(201, 201, 201, 0.5);
    padding:30px 20px;
}

.btn-white {
    background: white;
    color: #2C79FE;
    border:1px solid #E4E4E4;

    @include hover($orange, 5% , #fff);

}

.account {

    .bg-white + .bg-white {
        margin-top:15px;
    }

    .bg-white-no-padding {
        background: white;
        box-shadow: 0 0 4px 0 rgba(201, 201, 201, 0.5);

        + .bg-white-no-padding {
            margin-top:15px;
        }
    }

    .btn {
        + .btn {
            margin-left:5px;
        }
    }

    .grey {
        color: $grey2;
    }
    .dark-grey {
        color: $darkGrey;
    }
    .black {
        color: $black;
    }
    .red {
        color: #EB1F1F !important;
    }
    .green {
        color: #29BA42 !important;
    }

    .list-order-info {
        margin-top:10px;
        li {
            width: calc(100%/3);
            float: left;
            margin-bottom:10px;

            p {
                font-weight:400;
                span {
                    font-weight:100;
                }
            }
        }
    }

   .tracking-status {
        ul.tracker-progress {
            li {
                padding-left:65px;
                float: left;
                position:relative;

                &:before {
                    content: "";
                    background:url('../img/tracking-dot.png');
                    width: 33px;
                    height: 3px;
                    position: absolute;
                    top: calc(50% - 3px);
                    left:16px;
                    background-position: 0px -6px;
                    background-repeat: no-repeat;
                }

                i {font-weight:bold;}

                &:first-child {
                    padding-left:0;

                    &:before {
                        display: none;
                    }
                }

                &.active {
                    i {color: $green;}
                    &:before {background-position: 0px 0px;}
                }
            }
        }

        p {margin-bottom:0;margin-top:10px; &.grey {margin-top:0;}}
   }

    .table-myorder {
        margin-bottom:0;
        border:none;
        thead {
            tr:first-child {
                background: #f7f7f7;
            }

            tr th {
                border-color:#E8E8E8;
            }
        }
        tbody {
            tr {
                td {
                    border-color:#E8E8E8;
                    padding-left:15px;
                    padding-right:15px;

                    &:first-child , &:last-child {
                        border-left:none;
                    }

                    p {margin-bottom:5px;}

                    span {
                        color: $grey2;

                        i {color: #2C79FF}
                    }

                    &:not(:first-child) {
                        text-align:left;
                    }
                }
            }
        }
    }

    .table-order-total {
        margin-bottom:0;

        thead {
            tr td {
                border-bottom:none;
                font-weight:500;
                color: $black;
            }
        }

        tbody tr {
            td {
                border-color:#E5E3E4;
                padding:4px 15px !important;

                &:first-child{border-right-color:white;}
                &:last-child {
                    text-align:right;
                }
            }

            &.discount {
                td:last-child {color: $green;}
            }

            &:last-child {
                background: #FFFEE2;
                font-weight:500;
                font-size:16px;
                border-top:1px solid #E5E3E4;
            }
        }
    }

    .table-myorder-vendor {
        margin-bottom:0;

        > tbody > tr > td {
            padding:0;
        }
        > tbody > tr > td .tracking-status , th{
            border-color:#E5E3E4;
            padding:15px;
        }
        thead {
            background: #F0F5F9;
            tr th {
                font-weight:400;
                color: $darkGrey;
                border-bottom-width:1px;

                p {margin-bottom:0; font-weight:100;}
                i {vertical-align:middle;}
                a {text-decoration:underline;}
                > .pull-right {
                    min-width:28%;
                    .pull-right {margin-left:10px;}
                }
            }
        }

        > tbody {

            .more-detail {
                border-top:1px solid #E5E3E4;
                border-bottom:1px solid #E5E3E4;

                i {vertical-align:middle;}

                table > tbody > tr > td {
                    vertical-align:top;
                    padding-top:15px;
                    padding-bottom:15px;

                    &:nth-child(2) {
                        border-left:1px solid #e5e3e4;
                        padding-left:15px;
                    }
                }
            }
            .detail {
                width:calc(50% - 15px);
                display:table;
                margin-left:15px;
            }

            > tr:last-child > td {
                border-bottom:1px solid #E5E3E4;
                text-align:center;

                a {
                    color: $darkGrey;
                    display:block;
                    padding:4px;
                    transition:all .2s ease;
                    text-decoration:none;

                    &:hover {
                        background: #F0F5F9;
                        text-decoration:none;
                    }
                }
            }
        }
    }

    .table-no-bordered, .table-no-bordered td {
        border:none !important;
    }
}

.list-alternative-vendor-wrapper {
    .the-list {

        .the-product {
            background: #FBFFD0;
            border:1px solid #DDDB97;
            border-radius:4px;
            margin:20px 0 30px 0;
        }

        .the-vendor-wrapper {
            max-height:350px;
            overflow-y:scroll;
            overflow-x:hidden;
        }
        .the-vendor {
            width:100%;
            margin-bottom:20px;

            p {margin-bottom:0;}

            .pull-right {
                margin-right:15px;
            }

            .name {
                min-width: 150px;
                display:inline-block;
            }

            .rating {
                width:55px;
                text-align:right;
                position: relative;
                display:inline-block;

                .star {
                    font-size:12px;
                    color: #FFA600;
                    vertical-align:top;
                    display:inline-block;
                    width:10px;
                }
                .checked {
                    position:absolute;
                    right: -30px;
                    top: 0;
                    font-size:18px;
                    display:none;
                    color: #36B813;
                }
                color: $blue;

                span {
                    font-size:10px;
                    color: $black;
                }
            }
        }
        ul {
            width:100%;

            li {
                width:100%;
                float:left;
            }
        }
    }
}

.free {
    background:#F9FFF9;
    border:1px solid #9CDD97;
    color: $green;
    width: 100%;
    text-align:center;
    padding:4px;
    margin-top:15px;
}

.jconfirm-box .jconfirm-buttons button.btn-yes {
    background: #739EE9;
    color: #fff;
}

.jconfirm-box .jconfirm-buttons button.btn-no {
    background: $black;
    color: #fff;
}
