@import 'components/vars';
@import 'components/mixin';

.product-detail {
    background: white;
    padding-top:30px;

    h1 {
        font-weight:400;
        font-size: 28px;
        color: $blue;
        line-height:35px;
    }

    .left {
        margin-bottom:20px;

        .sub-title {
            margin-top:20px;

            span {
                margin-right:20px;
            }
        }

        .btn-group {
            width:100%;
            margin-top:20px;
            border-color:$softGrey;

            button:first-of-type {
                border-right-color:$softGrey;
            }

            button {
                border-radius:4px;
            }

            i {
                vertical-align:text-top;
            }
        }
    }

    .protection {
        width:100%;
        background: lighten($softGrey,3%);
        text-align:center;
        padding:15px;
        margin-top:20px;

        i , .text {
            display:inline-block;
        }

        i {
            font-size:50px;
            margin-right:10px;
        }

        .text {
            text-align:left;
            color: $darkGrey;
        }
    }

    .box-details {
        width: 100%;
        display: block;
        border:1px solid $grey;
        border-bottom:0px;
        margin-bottom:20px;

        @include tablet {
            margin-top:20px;
        }

        @include max-768 {
            margin-top:20px;
        }

        .box {
            padding: 10px 20px;
            border-bottom:1px solid $grey;

            &.type{
                font-weight:400;
                position:relative;
            }

            &.vendor {
                padding:0;
                position:relative;
            }
        }

        .swatch-attribute-label {
            border-bottom:1px solid $grey;
            width:100%;
            padding: 10px 20px;
            float: left;
            font-weight:400;
            position:relative;
        }

        .list-inline {
            margin:0;

            li {
                margin-right:5px;
            }
        }

        .saler {
            &:before {
                content:"Mulai dari";
                position:absolute;
                left:150px;
                top:0px;
                color: $grey2;
                height: 50px;
                line-height:40px;
                padding:0 25px;
                font-weight:100;
                border-left:1px solid $grey;
                border-right:1px solid $grey;
            }
            &:after {
                content:"Rating";
                position:absolute;
                left:261px;
                top:0px;
                color: $grey2;
                height: 50px;
                line-height:40px;
                padding:0 25px;
                font-weight:100;
                border-left:1px solid $grey;
            }
        }

        .swatch-attribute-options {
        padding:10px 20px;
        display:inline-block;
        width:100%;
        border-bottom:1px solid $grey;

            .swatch-option {
                width:25px;
                height:25px;
                font-size:12px;
                font-weight:400;
                padding:4px;
                background:$softGrey;
                border:1px solid $grey;
                cursor:pointer;
                transition:all ease .1s;
                display:inline-block;

                &:hover, &.active, &:active , &:focus {
                    border-color:$blue;
                    // outline:$blue solid 1px;
                    box-shadow:0px 0px 2px lighten($blue, 10%);
                }
            }
        }

        .list-vendor {
            height:205px;
            overflow-x:hidden;
            overflow-y:hidden;
            border-bottom:1px solid $softGrey;
            background: white;
            position:relative;

            li {
                width:100%;
                padding:7px 20px;
                font-weight:500;
                cursor:pointer;
                transition:all ease .1s;

                a {
                    font-weight:500;
                    color: $blue;
                }

                .name , .price , .rating {
                    display:inline-block;
                }
                .name {
                    width:120px;

                    @include tablet {
                        width:100px;
                    }
                }
                .price {
                    text-align:left;
                    width:130px;
                    margin-left:10px;


                    @include desktop-md {
                        width:110px;
                    }

                    @include tablet {
                        width:110px;
                    }
                }
                .rating {
                    width:55px;
                    text-align:right;
                    position: relative;

                    .star {
                        font-size:12px;
                        color: #FFA600;
                        vertical-align:top;
                        display:inline-block;
                        width:10px;
                    }
                    .checked {
                        position:absolute;
                        right: -30px;
                        top: 0;
                        font-size:18px;
                        display:none;
                        color: #36B813;
                    }
                    color: $blue;

                    span {
                        font-size:10px;
                        color: $black;
                    }
                }

                &.active , &:hover{
                    background: #E2F6DD;
                    color: #36B813;
                    box-shadow:0px 0px 2px #36B813;

                    a {
                        color: #36B813;
                    }

                    .rating, .rating span {
                        color: #36B813;
                    }
                }

                &.active {
                    position:relative;

                    .checked {
                        display:block;
                    }
                }
            }
        }/*list-vendor*/

        .prefered {
            // width:90px;
            background: $green;
            border-radius:4px 0px 0px 4px;
            position:absolute;
            left:0px;
            top:0;
            color: #fff;
            font-weight:100;
            padding:8px 8px;
            font-size:12px;
            transition:all ease .5s;

            i {
                vertical-align:text-top;
            }
        }

        .see-all {
            width:100%;
            text-align:right;
            display:block;
            padding:7px 20px;
            font-weight:500;
        }

        .product-details {
            padding:20px;

            .dl-horizontal {
                font-size:12px;
                margin:0;

                dt {
                    color: $grey2;
                    font-weight:100;

                    i {
                        vertical-align:middle;
                        margin-right:10px;
                    }
                }

                dd {
                    span {
                        color: $darkGrey;
                    }
                }

                dt,dd {
                    line-height:23px;
                }

                dd {
                    font-weight:500;
                }
            }
        }
    }

    .vendor-information {
        background: white;
        margin-bottom:30px;

        .the-vendor {
            p {font-size:12px;}
        }

        .reports {
            dt {
                width:67%;
                text-align:left;
                color: $grey2;
                font-weight:100;
            }
            dd {
                width:32%;
                margin-left:67%;
                text-align:right;
                font-weight:500;
                position:relative;

                .star {
                    width:12px;
                    font-size:12px;
                    position:absolute;
                    right:48px;
                    color: $gold;
                }
            }
        }
    }

    .buy {
        padding:10px 15px;
        border:1px solid $grey;
        margin-bottom:30px;
        background: lighten($softGrey,3%);

        .col-xs-12:first-of-type {
            padding-bottom:10px;
            border-bottom:1px solid $grey;
        }
        .col-xs-4 {
            padding:5px 15px;
            font-size:10px;
            border-bottom:1px solid $grey;

            &.first {
                background: #E9F7FF;

            }
        }

        font-weight:500;

        span {
            color: #36B813;
            font-size:11px;
            font-weight:normal;
            display:block;
        }

        .row:nth-of-type(2) {
            margin-top:10px;
        }

        .counter {
            .btn-group {
                height:35px;

                .btn {
                    height:33px;
                }
            }
        }
        .counter .btn-group .input-number {
            height:33px;

            @include smaller-mobile {
                width:33px;
            }
        }

        .total {
            margin-left:6%;
            width:62%;
            p {
                margin-bottom:0;
                font-size:11px;
                width:100%;
                font-weight:normal;
                color: $grey2;
            }

            span {
                color:$grey2;
                font-size:10px;
                font-weight:100;
            }

            .price {
                font-size:25px;
                line-height:22px;
                color: $black;
                // font-weight:500;
            }
        }

        .btn-blue {
            margin-top:10px;
            height: 40px;
        }
    }

    .help {
        height: 80px;
        border:1px solid $grey;
        text-align:center;
        padding-top:20px;
        margin-bottom:20px;
    }

    a.terms {
        text-align:center;
        width:100%;
        display:block;
        color: $grey2;
        text-decoration:underline;
        font-size:13px;
        margin-bottom:20px;
    }

    .description {
        border-bottom:1px solid $softGrey;
        padding-bottom:20px;
    }
    .spec {
        border-right:1px solid $softGrey;
    }
}

