@import "components/_mixin";
@import "components/_form";

body {
    background: #FCFCFC;
}

.one-col-main {
    .register-form {
        margin-bottom: 100px;
        .form-container {
            display: inline-block;
            width: 100%;
        }
        .form-head {
            padding: 0 63px 0 47px;
            border-bottom: 1px solid #E3E3E3;
            h3 {
                color: #474743;
                font-size: 20px;
            }
            @include max-768 {padding: 0 15px 0 15px;}
        }
        .form-content {
            padding: 0 63px 25px 47px;
            .radio-inline+.radio-inline {
                margin-top: 0;
                margin-left: 34px;
            }
            p {
                color: #696969;
                font-family: 'Roboto';
                font-size: 11px;
            }
            .form-button {
                top: 24px;
                .btn {
                    height: 40px;
                    width: 100px;
                    font-weight: 500;
                    font-size: 13px;
                    @include max-768 {
                        width: 72px;
                        padding: 5px;
                    }
                }
            }
            @include max-768 {padding: 0 15px 25px 15px;}
        }
        .company {
            .form-text {
                p {
                    margin: 45px 0 0;
                    font-size: 11px;
                    color: #848484;
                    i {
                        color: #2286E4;
                        font-size: 12px;
                    }
                }
            }
        }
        .aproval {
            .form-head {
                padding-bottom: 25px;
                h4 {
                    i {
                        color: #AEAEAE;
                        font-size: 12px;
                        vertical-align: top;
                    }
                }
            }
        }
        .newsletter {
            .form-content {
                padding: 20px 0 25px;
                .checkbox {
                    padding-left: 0;
                    label {
                        color: #444444;
                        font-size: 13px;
                        padding-left: 10px;
                    }
                }
            }
        }
        .terms {
            font-size: 11px;
            font-family: 'Roboto';
            color: #6B6B6B;
            clear: both;
            padding: 0 25px;
            margin-bottom: 19px;
        }
        .btn-group {
            border: 0;
            button {
                border: 0;
                float: right;
                height: 40px;
            }
            &:hover {
                border: 0;
                button {
                    border: 0;
                    border-radius: 4px;
                }
            }
        }
        @include desktop-md {
            width: 602px;
            margin: 0 auto 200px;
        }
        @include tablet {
            width: 602px;
            margin: 0 auto 200px;
        }
    }
}
.one-col-footer {
    text-align: center;
    background: #FCFCFC;
    .footer-top {
        /* Rectangle 6: */
        background: #FFFFFF;
        box-shadow: 0 0 4px 0 rgba(181,181,181,0.50);
        padding: 15px 0;
    }
    .footer-bottom {
        padding: 20px 0;
        .copyright {
            font-family: 'Roboto';
            color: #767676;
            font-size: 14px;
            span {
                margin-left: 16px;
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            a {
                font-family: 'Roboto';
                color: #767676;
                font-size: 14px;
            }
        }
    }
}
.login-container {
    /* Rectangle 5: */
    background: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(179,179,179,0.50);
    margin-bottom: 100px;
    float: left;
    .customer-login,
    .new-customer {
        padding: 0 68px;
        margin: 67px 0;
        position: relative;
        border-right: 1px solid #F0F0F0;
        .checkbox {
            margin-bottom: 13px;
            label {
                padding: 0;
                font-size: 13px;
                font-weight: 100;
                color: #888585;
            }
        }
        @include max-768 {
            padding: 0 20px;
            border-right: 0;
        }
        .btn {
            height: 38px;
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 500;
        }
        .block-title {
            h3 {
                margin: 0 0 16px;
                font-family:'Roboto';
                font-size: 20px;
                font-weight: 500;
                color: #3D3D3D;
            }
        }
        .block-content {
            .form-group {
                margin-bottom: 20px;
                &.last{margin-bottom: 11px;}
            }
        }
        .forgot-password {
            color: #0277DB;
            text-decoration: underline;
            font-family: 'Roboto';
            font-size: 13px;
            font-weight: normal;
            margin-top: 4px;
        }
        .text-left {
            margin: 37px 0 52px;
            font-family: 'Roboto';
            font-size: 14px;
            font-weight: 100;
            color: #333333;
        }
    }
    .new-customer {
        @include max-768 {margin-top: 0;}
    }
    .btn-group {
        border: 0;
        button {
            border: 0 !important;
            float: right;
            height: 40px;
        }
        &:hover {
            border: 0;
            button {
                border: 0 !important;
                border-radius: 4px;
            }
        }
    }
}
.register-success {
    .text-center {
        /* Rectangle 21: */
        background: #FFFFFF;
        box-shadow: 0 0 4px 0 rgba(147,147,147,0.50);
        margin: 0 auto 25px;
        padding: 39px 70px 45px;

        h3 {
            margin: 0 0 30px;
        }
        p {
            font-size: 16px;
            color: #636363;
            margin-bottom: 17px;
            span {
                color: $orange;
            }
        }
    }
    &.personal {
        .text-center {
            padding: 39px 160px 45px;
        }
    }
    .btn-group {
        border: 0;
        text-align: center;
        width: 100%;
        .btn {
            height: 38px;
            width: 200px;
            float: none;
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 500;
        }
        button {
            border: 0 !important;
            height: 40px;
        }
        &:hover {
            border: 0;
            button {
                border: 0 !important;
                border-radius: 4px;
            }
        }
    }
    @include desktop-md {
        width: 602px;
        margin: 0 auto 300px;
    }
    @include tablet {
        width: 602px;
        margin: 0 auto 200px;
    }
    @include max-768 {
        margin: 0 auto 100px;
        .text-center {
            padding: 30px 20px 30px;
        }
        &.personal {
            .text-center {
                padding: 39px 20px 45px;
            }
        }
    }
}